
.message-list {
    list-style-type: none;
}

.message-list li {
    margin-top: 1.5em;
}

.message-info {
    margin: 4px;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;      
}

.message-text {
    display: inline;
    font-family: 'Montserrat', sans-serif;    
    background: #bcf5f5;
    padding: 5px;
    margin-left: 3em;
   /* font-weight: bold;*/
    border-radius: 10px;
    font-size: 16px;
}

.message-time {
    color:#808080;
}